<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946291995815-a1rt3h6233f06iqvmnp2jmss995ksb0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946291995815-a1rt3h6233f06iqvmnp2jmss995ksb0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDg94tgCVdYq4MJACk8SaXrWlNn5bqcZ00</string>
	<key>GCM_SENDER_ID</key>
	<string>946291995815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ucleus.The-Saloon</string>
	<key>PROJECT_ID</key>
	<string>saloon-5dcba</string>
	<key>STORAGE_BUCKET</key>
	<string>saloon-5dcba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946291995815:ios:8509a026e540e415011782</string>
</dict>
</plist>